@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    width: 100%;
    height: 650px;
    margin: auto;
    font-family: tahoma;
    background-image: url(../Imagens/fundoescuro.jpg);
    background-position: center 100%;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    overflow: hidden;
}


header{
    width: 100%;
    height: 100px;
    font-family: Bagel Fat One;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #234724;
}

@keyframes mudarCores {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

#logo{
    height: 80%;
    width: 50%;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

#logo img{
    width: 20%;  
}

#logo p{
    color: #fff;
    font-size: 22px;
    text-align: center;  
}

nav{
    display: flex;
    gap: 15px;
}

nav a{
    color: beige;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 20px;
    transition: 0.5s;
}

nav a:hover{
    background-color: beige;
    color: darkolivegreen;
}

#sobre {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre div{
    width: 50%;
    height: 350px;
    border: 2px solid rgb(15, 101, 31);
    text-align: center;
    border-radius: 15px;
}

#sobre h1{
    font-size: 42px;
    color: #f4f4f9;
    font-family: Bagel Fat One;
    letter-spacing: 4px;
    padding-top: 25px;
    padding-bottom: 10px;
}

#sobre p{
    color: white;
    font-size: 24px;
    padding-top: 15px;
    font-family: 'Comic Sans MS';
}

footer {
    width: 100%;
    height: 20%;
    background-color: #1B5E20; /* Verde Floresta */
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
  
}

.footer-container {
    display: flex;
    flex-direction: row; /* Agora os elementos ficam lado a lado */
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer-logo img {
    width: 120px;
    transition: transform 0.3s ease;
}

.footer-logo img:hover {
    transform: scale(1.5);
}


.footer-info {
    font-size: 16px;
    font-family: 'Comic Sans MS';
    text-align: center;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social P{
    font-family: 'Comic Sans MS';
    align-self: center;
}

.footer-social img {
    width: 40px;
    height: 35px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.5);
}


